/**
 * HighFidelity's alpha page styling
 */

/* bg is just white here, we don't need to inherit from common.cs */
html > body {
    background: none #ffffff;
}

#container > p {
    line-height: 26px;
    text-align: center;
}

#container > p:first-child {
    padding-top: 21px;
    color: #E04324;
    margin-bottom: 0px;
    font-size: 1.4em;
}

#container > p:first-child + p {
    margin-bottom: 20px;
    font-size: 1.35em;
}

#container > form {
    font-family: proxima-nova, sans-serif;
    color: #999;
}

form > fieldset {
    display: inline-block;
    vertical-align: top;
}

fieldset h3 {
    font-weight: 400;
    margin-top: 0px;
}

fieldset > h3 {
    color: #333;
}

fieldset h3,
form ul > li {
    margin-bottom: 5px;
}

fieldset h3,
form ul > li label {
    line-height: 1em;
    font-size: 1.1em;
    display: inline-block;
}


fieldset h3 > span {
    color: #999;
}

form > fieldset:first-child {
    border: 1px solid #ddd;
    padding: 20px 30px;
    width: 238px;
    margin: 0 10px 20px 40px;
}

form > fieldset:last-child {
    width: 300px;
}

form ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

form ul li input[type="checkbox"] + label {
    font-weight: bold;
}

form ul li > ul input[type="checkbox"] + label {
    font-weight: normal;
}

form li > ul li {
    margin-bottom: 0;
    margin-top: 3px;
}

form ul li > ul {
    margin: 5px 0 8px 30px;
}

form input[type="checkbox"],
form input[type="radio"] {
    width: 10px;
    height: 10px;
    opacity: 0;
    margin: 0;
    padding: 0;
}

form input[type="checkbox"][name] + label:before,
form input[type="radio"] + label:before {
    content: "\00a0";
    font-family: FontAwesome;
    display: inline-block;
    color: #3697be;
    border: 1px solid #ddd;
    padding: 2px;
}

form input[type="checkbox"][name] + label:before {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 -25px;
    border-radius: 5px;
}

form input[type="radio"] + label:before {
    width: 9px;
    height: 9px;
    margin: 0 5px 0 -15px;
    border-radius: 9px;
    line-height: 9px;
    font-size: 10px;
}

form input[type="checkbox"] + label {
    padding-left: 10px;
}

form input:checked + label,
form input[type="checkbox"]:focus + label,
form input[type="radio"]:focus + label {
    color: #3697be;
}

form input[type="checkbox"]:checked:focus + label,
form input[type="radio"]:checked:focus + label {
    color: #333;
}

form input[type="checkbox"]:checked + label:before {
    content: "\f00c";
}

form input[type="radio"]:checked + label:before {
    content: "\f111";
}

form > fieldset:last-child select + div,
form > fieldset:last-child select,
form > fieldset:last-child input {
    margin-bottom: 13px;
    font-family: proxima-nova, sans-serif;
    font-size: 1.25em;
    line-height: 1.45em;
}

form > fieldset:last-child select {
    width: 301px;
}

form > fieldset:last-child input {
    width: 279px;
}

form > fieldset:last-child .chosen-container-single .chosen-single {
    border-radius: 0px;
    background: none transparent;
}

form > fieldset:last-child .chosen-container-single .chosen-single {
    height: 1.4em;
}

form > fieldset:last-child .chosen-container-single .chosen-search {
    padding: 0;
}

form > fieldset:last-child .chosen-container-single .chosen-search input[type=text] {
    margin: 0;
    border-right: 0px;
    border-left: 0px;
    line-height: 2.1em;
    height: 50px;
}

form > fieldset:last-child .chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single,
form > fieldset:last-child .chosen-container-single .chosen-drop,
form > fieldset:last-child .chosen-container-single .chosen-search input[type=text] {
    border-color: #e0e0e0;
}

form > fieldset:last-child .chosen-container-single .chosen-single,
form > fieldset:last-child .chosen-container-single .chosen-search input[type=text] {
    background: none transparent;
}

form > fieldset:last-child .chosen-container-single .chosen-single,
form > fieldset:last-child .chosen-container-single .chosen-search input[type=text],
form > fieldset:last-child .chosen-container-single .chosen-drop {
    box-shadow: none;
}

form > fieldset:last-child .chosen-container-single .chosen-drop {
    border-radius: 0;
}

form > fieldset:last-child .chosen-container-single .chosen-search:before {
    font-family: FontAwesome;
    content: "\f002";
    display: inline-block;
    font-size: 1em;
    box-sizing: border-box;
    color: #3697be;
    margin-top: 11px;
    margin-right: 19px;
    float: right;
}

form > fieldset:last-child .chosen-container-single .chosen-single div {
    width: 35px;
}

form > fieldset:last-child .chosen-container-single .chosen-single div b {
    background: none transparent;
    margin-top: 6px;

}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:144dpi) {
    body .chosen-rtl .chosen-search input[type=text],
    body .chosen-container-single .chosen-single abbr,
    body .chosen-container-single .chosen-single div b,
    body .chosen-container-single .chosen-search input[type=text],
    body .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    body .chosen-container .chosen-results-scroll-down span,
    body .chosen-container .chosen-results-scroll-up span {
        background-image: none !important;
    }
}

form > fieldset:last-child .chosen-container-single .chosen-single div b:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    font-size: 1em;
    box-sizing: border-box;
    color: #3697be;
    margin-top: 6px;
}

form > fieldset:last-child .chosen-container-single.chosen-with-drop .chosen-single div b:before {
    content: "\f077";    
}

form > fieldset:last-child input,
form > fieldset:last-child .chosen-container-single .chosen-single {
    padding: 10px;
}

form > fieldset:last-child .chosen-container .chosen-results {
    overflow-y: hidden;
    margin: 0;
}

form > fieldset:last-child .chosen-container .chosen-results li {
    margin: 0 0 0 -5px;
    line-height: 1.2em;
}

form > fieldset:last-child .chosen-container .chosen-results li.highlighted {
    background: none #3697be;
}

form select,
form > fieldset:last-child input,
form button {
    font-family: proxima-nova, sans-serif;
}

form > fieldset:last-child select,
form > fieldset:last-child .chosen-container-single .chosen-single,
form > fieldset:last-child input {
    border: 1px solid #e0e0e0;
}

form > fieldset:last-child .chosen-container-single.chosen-container-active .chosen-single,
form > fieldset:last-child input:focus {
    border-color: #3697be;
}

form > fieldset:last-child input:focus,
form > fieldset:last-child input.valid {
    color: #3697be;
    outline: none;
}

form > fieldset:last-child input.error,
form > fieldset:last-child select.error {
    outline: none;
}

form > fieldset:last-child input.error,
form > fieldset:last-child select.error,
form > fieldset:last-child select.error + div > .chosen-single {
    color: #E04324;
}

form > fieldset:first-child.error,
form > fieldset:last-child input.error,
form > fieldset:last-child select.error,
form > fieldset:last-child select.error + div > .chosen-single {
    border-color: #E04324;
}

form button { 
    background-color: #E04324;
    padding: 14px 24px;
    color: #fff;
    font-size: 19px;
    border: 0;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

form button:hover,
form button:active {
    background-color: transparent;
    color: #E04324;
}

form button,
form #errors {
    display: inline-block;
    vertical-align: top;
}

form #errors {
    width: 160px;
    margin-left: 15px;
}

form #errors label {
    line-height: 1.1em;
}


footer#site-links p {
    border-right: 0 none;
    border-left: 0 none;
}

@media screen and (max-width: 768px) {
    form > fieldset:first-child {
        width: calc(100% - 62px);
        margin: 0px;
    }

    form > fieldset:last-child  {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    form > fieldset:last-child select {
        width: 100%;
    }

    form > fieldset:last-child input {
        width: calc(100% - 20px);
    }
}

