/**
 * HighFidelity's company page styling
 */

/* bg on this page is not from body, no need to inherit from common.cs */
html > body {
    background-image: none;
    min-width: 320px;
}

/* bg is actually from the navbar */
header#navbar {
    height: 1200px;
    background: #ffffff url('../img/Emily-and-hifi-rig-for-website-v2.png') no-repeat 20px 430px;
    background-size: contain;
    width: 800px;
    margin: 0 auto;
}

#main > article p.lead {
    margin: 0 auto;
    position: absolute;
    left: 85px;
    width: 525px;
    text-align: center;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.2em;
}

#main > article p.lead:first-child {
    top: -645px;
}

#main > article p.lead + p.lead {
    top: -472px;
    color: #3698BF;
}

#main > article p.lead + ul {
    list-style-type: none;
    margin-top: -402px;
    margin-left: -78px;
}

#main > article p.lead + ul h2 {
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
    font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: 5px;
}

#main > article p.lead + ul p {
    color: #666666;
    font-weight: normal;
    font-size: 0.74em;
}

#main > article p.lead + ul p strong {
    color: #333333;
}

#main > article p.lead + ul li:nth-child(1),
#main > article p.lead + ul li:nth-child(2) {
    margin-bottom: 57px;
}

#main > article p.lead + ul li:nth-child(1) {
    padding-right: 91px;
}

#main > article p.lead + ul li:nth-child(2) {
    position: relative;
    padding-bottom: 190px;
    background: transparent url(../img/devices-network.png) bottom left no-repeat;
    background-size: contain;
    padding-right: 120px;
}

#main > article p.lead + ul li:nth-child(2):before {
    content: '\00a0';
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    right: -77px;
    top: 66px;
    background: url(../img/eyes-connection.png) center center no-repeat;
    width: 200px;
    height: 200px;
}

div#main > article li {
    font-size: 1.1em;
    font-family: proxima-nova, sans-serif;
}

#main ol {
    padding-top: 30px;
}

#main ol .hifi-gray,
#main ul .hifi-gray {
    font-style: normal;
    font-weight: 300;
    color: #666666;
}

#main > article:first-child {
    border: 0;
    padding: 0 120px;
    background: transparent none;
}

#main > article:nth-child(n+2) {
    border-radius: 10px;
    background: #fafafa none;
    border-color: #e0e0e0;
    padding: 20px 60px;
    margin-bottom: 50px;
}

#investors {
    position: relative;
}

#investors li,
#advisors li {
    list-style: none;
    color: #333333;
    font-size: 1em;
}

#investors li {
    position: absolute;
    width: 190px;
    height: 152px;
    padding: 22px;
    border: 1px solid #ccc;
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

div#main #advisors li {
    display: inline-block;
}

#investors li h3,
#advisors li h3 {
    line-height: 150%;
}

div#main #advisors > ul li h3 {
    font-size: 0.65em;
    text-align: center;
    color: #666666;
}

div#main #advisors > ul li a:hover h3 {
    color: #3698bf;
}

#advisors li a {
    display: inline-block;
}

#advisors li a,
#advisors li a:hover,
#advisors li a:active {
    text-decoration: none;
}

#advisors li a:hover {
    color: #666666;
}

#investors li:nth-child(1) {
    z-index: 200;
    left: -80px;
}

#investors li:nth-child(2) {
    z-index: 199;
    left: 135px;
    margin-top: 9px;
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
}

#investors li:nth-child(3) {
    z-index: 198;
    left: 370px;
    margin-top: 20px;
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

#investors li:nth-child(4) {
    z-index: 196;
    left: 60px;
    margin-top: 185px;
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

#investors li:nth-child(5) {
    z-index: 197;
    left: 275px;
    margin-top: 200px;
}

div#main > article h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 1.6em;
    line-height: 1.2;
}

#investors li p {
    padding-top: 0.8em;
    font-family: proxima-nova, sans-serif;
    color: #333333;
    font-size: 0.75em;
}

#investors li p a {
    color: #333333;
    font-weight: normal;
}

div#main > article h2 {
    font-size: 56px;
    color: #3698bf;
}

div#main > article:nth-child(n+2) h2 {
    text-align: center;
}

div#main > article p + h2 {
    padding-top: 35px;
}

div#main > article ol li {
    margin-bottom: 25px;
}

#investors > ul {
    height: 500px;
}

div#main #investors > h2 {
    margin-bottom: 50px;
}

#investors > ul {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    margin-left: 30px;
}

/**
 * Responsive sizes
 */
@media screen and (max-width: 970px) {
    header#navbar {
        width: auto;
    }

    div#main > article {
        font-size: 1.65em;
    }

    #main > article p.lead {
        width: 375px;
        left: 170px;
    }
    
    #main > article p.lead + ul li:nth-child(2):before {
        display: none;
    }

    header#navbar {
        background-position: 20px 350px;
    }

    #main > article p.lead:first-child {
        top: -595px;
    }

    #main > article p.lead + p.lead {
        top: -450px;
    }

    #main > article p.lead + ul {
        margin-top: -460px;
    }

    #main > article ol,
    #main > article ul {
        font-size: 0.8em;
    }

    #main ol {
        padding-top: 0px;
    }

    div#main #investors > h2,
    div#main #advisors > h2 {
        font-size: 1.4em;
    }

    #investors li,
    #advisors li {
        font-size: 1.25em;
    }

    #investors > ul {
        height: 400px;
    }
    
    #investors > ul,
    #advisors > ul {
        left: -95px;
        padding: 10px 0;
        transform: scale(0.9);
        transform-origin: 60% 0%;
        -moz-transform: scale(0.9);
        -moz-transform-origin: 60% 0%;
        -ms-transform: scale(0.9);
        -ms-transform-origin: 60% 0%;
        -o-transform: scale(0.9);
        -o-transform-origin: 60% 0%;
        -webkit-transform: scale(0.9);
        -webkit-transform-origin: 60% 0%;
    }
    
}

@media screen and (max-width: 770px) {
    #main > article {
        padding: 0 20px;
    }

    #main > article p.lead {
        left: 75px;
    }

    #main > article p.lead + ul {
        margin-left: 0;
    }

    #main > article:first-child {
        padding: 0;
    }

    #main > article p.lead + ul li:nth-child(1),
    #main > article p.lead + ul li:nth-child(2) {
        padding-right: 0;
    }
    
    div#main > article li {
        margin-bottom: .5em;
    }
    
    #investors > ul,
    #advisors > ul {
        left: 0px;
        padding: 0px;
        height: 250px;
        transform: scale(0.55);
        transform-origin: 18% 0%;
        -moz-transform: scale(0.55);
        -moz-transform-origin: 18% 0%;
        -ms-transform: scale(0.55);
        -ms-transform-origin: 18% 0%;
        -o-transform: scale(0.55);
        -o-transform-origin: 18% 0%;
        -webkit-transform: scale(0.55);
        -webkit-transform-origin: 18% 0%;
    }
}

@media screen and (max-width: 530px) {
    header#navbar {
        background-position: 20px 230px;
    }

    #main > article p.lead {
        left: -50px;
    }

    #main > article p.lead + ul {
        margin-top: -750px;
    }

    #main > article p.lead:first-child {
        top: -400px;
    }

    #main > article p.lead + p.lead {
        top: -280px;
    }
    
    div#main > article h2 {
        font-size: 1.3em;
        margin-bottom: 15px;
    }
    
    div#main > article p + h2 {
        padding-top: 15px;
    }

    #main > article:nth-child(n+2) {
        padding: 20px 0;
    }

    div#main #investors > h2,
    div#main #advisors > h2 {
        font-size: 1.2em;
    }
    
    #investors > ul,
    #advisors > ul {
        left: 0px;
        padding: 0px;
        height: 150px;
        transform: scale(0.35);
        transform-origin: 18% 0%;
        -moz-transform: scale(0.35);
        -moz-transform-origin: 18% 0%;
        -ms-transform: scale(0.35);
        -ms-transform-origin: 18% 0%;
        -o-transform: scale(0.35);
        -o-transform-origin: 18% 0%;
        -webkit-transform: scale(0.35);
        -webkit-transform-origin: 18% 0%;
    }

    #advisors > ul {
        width: 300%;
        margin-left: -50px;
    }
}
