/**
 * HighFidelity's company page styling
 */

/* bg on this page is not from body, no need to inherit from common.cs */
html > body {
    background-image: none;
    min-width: 320px;
}

/* bg is actually from the navbar */
header#navbar {
    height: 1200px;
    background: #ffffff url('../img/Emily-and-hifi-rig-for-website-v2.png') no-repeat 20px 550px;
    background-size: contain;
    width: 1020px;
    margin: 0 auto;
}

#main > article p.lead {
    margin: 0 auto;
    position: absolute;
    left: 0px;
    width: 705px;
    text-align: center;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
}

#main > article p.lead:first-child {
    top: -900px;
}

#main > article p.lead + p.lead {
    top: -650px;
    color: #3698BF;
}

#main > article p.lead + ul {
    list-style-type: none;
    margin-top: -150px;
    margin-left: -30px;
}

#main > article p.lead + ul h2 {
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
    font-size: 1.5em;
}

#main > article p.lead + ul p {
    color: #333333;
    font-weight: normal;
}

#main > article p.lead + ul li:nth-child(1),
#main > article p.lead + ul li:nth-child(2) {
    padding-right: 290px;
}

div#main > article li {
    font-size: 1.1em;
    font-family: proxima-nova, sans-serif;
}

#main ol {
    padding-top: 30px;
}

#main ol .hifi-gray,
#main ul .hifi-gray {
    font-style: normal;
    font-weight: 300;
    color: #666666;
}

#main > article:first-child {
    border: 0;
    padding: 0;
    background: transparent none;
}

#main > article:nth-child(n+2) {
    border-radius: 10px;
    background-color: #999;
}

#investors {
    position: relative;
}

#investors li,
#advisors li {
    list-style: none;
    color: #333333;
    font-size: 1em;
    position: absolute;
}

#investors li {
    width: 190px;
    height: 152px;
    padding: 22px;
    border: 1px solid #ccc;
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#advisors li {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

#investors li h3,
#advisors li h3 {
    line-height: 150%;
}

#advisors li h3 {
    font-size: 0.8em;
    text-align: center;
}

#advisors li a {
    display: inline-block;
}

#advisors li a,
#advisors li a:hover,
#advisors li a:active {
    text-decoration: none;
}

#advisors li a:hover {
    color: #666666;
}

#investors li:nth-child(1) {
    z-index: 200;
    left: -80px;
}

#investors li:nth-child(2) {
    z-index: 199;
    left: 135px;
    margin-top: 9px;
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
}

#investors li:nth-child(3) {
    z-index: 198;
    left: 370px;
    margin-top: 20px;
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

#investors li:nth-child(4) {
    z-index: 196;
    left: 60px;
    margin-top: 185px;
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

#investors li:nth-child(5) {
    z-index: 197;
    left: 275px;
    margin-top: 200px;
}

#advisors li:nth-child(1) {
    left: -50px;
}

#advisors li:nth-child(2) {
    right: -50px;
}

div#main > article h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 1.6em;
    line-height: 1.2;
}

#investors li p {
    padding-top: 0.8em;
    font-family: proxima-nova, sans-serif;
    color: #333333;
    font-size: 0.8em;
}

#investors li p a {
    color: #333333;
    font-weight: normal;
}

div#main > article h2 {
    font-size: 56px;
    color: #3698bf;
}

div#main > article p + h2 {
    padding-top: 35px;
}

div#main > article ol li {
    margin-bottom: 25px;
}

#investors > ul,
#advisors > ul {
    position: relative;
    left: -105px;
    top: 15px;
    padding: 33px 0;
    height: 380px;
}

#investors > ul {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

/**
 * Responsive sizes
 */
@media screen and (max-width: 970px) {
    div#main > article {
        font-size: 1.65em;
    }
    
    #main > article ol,
    #main > article ul {
        font-size: 0.8em;
    }

    #main ol {
        padding-top: 0px;
    }
    
    #investors li,
    #advisors li {
        font-size: 1.25em;
    }
    
    #investors > ul,
    #advisors > ul {
        left: -95px;
        padding: 10px 0;
        height: 330px;
        transform: scale(0.9);
        transform-origin: 60% 0%;
        -moz-transform: scale(0.9);
        -moz-transform-origin: 60% 0%;
        -ms-transform: scale(0.9);
        -ms-transform-origin: 60% 0%;
        -o-transform: scale(0.9);
        -o-transform-origin: 60% 0%;
        -webkit-transform: scale(0.9);
        -webkit-transform-origin: 60% 0%;
    }
    
}

@media screen and (max-width: 770px) {
    #main > article {
        padding: 0 20px;
    }

    div#main > article li {
        margin-bottom: .5em;
    }
    
    #investors > ul,
    #advisors > ul {
        left: 0px;
        padding: 0px;
        height: 250px;
        transform: scale(0.55);
        transform-origin: 18% 0%;
        -moz-transform: scale(0.55);
        -moz-transform-origin: 18% 0%;
        -ms-transform: scale(0.55);
        -ms-transform-origin: 18% 0%;
        -o-transform: scale(0.55);
        -o-transform-origin: 18% 0%;
        -webkit-transform: scale(0.55);
        -webkit-transform-origin: 18% 0%;
    }
}

@media screen and (max-width: 530px) {
    div#main > article h2 {
        font-size: 1.3em;
        margin-bottom: 15px;
    }
    
    div#main > article p + h2 {
        padding-top: 15px;
    }
    
    #investors > ul {
        height: 180px;
        position: static;
        transform: none;
        transform-origin: 0 0;
        -moz-transform: none;
        -moz-transform-origin: 0 0;
        -ms-transform: none;
        -ms-transform-origin: 0 0;
        -o-transform: none;
        -o-transform-origin: 0 0;
        -webkit-transform: none;
        -webkit-transform-origin: 0 0;
    }
    
    #advisors > ul {
        height: 210px;
    }

    #investors li {
        position: static;
        
        list-style: disc;
        color: #3698bf;
        font-size: 0.66em;
        line-height: 1.426;
    
        border: 0 none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        
        left: 0;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    
    #investors li h3,
    #advisors li h3 {
        margin: 0;
        color: #666666;
    }
    
    #investors li p {
        font-size: 1.2em;
        color: #666666;
        margin: 0;
        padding: 0;
    }

    #advisors li:nth-child(1) {
        left: -70px;
    }

    #advisors li:nth-child(2) {
        right: -200px;
    }
}
