body > #container {
    margin: 0;
    width: 100%;
}

article {
    padding-bottom: 4em;
}

article > h2 {
    margin-top: 0;
    padding: 80px 0 352px;
    background: #303030 url(../img/creating/floating-island.png) no-repeat center top;
    background-size: contain;
    color: #0f96b7;
}
@media screen and (max-width: 770px) {
    article > h2 {
        padding: 26px 0 220px;
    }
}
@media screen and (max-width: 530px) {
    article > h2 {
        padding: 6px 0 200px;
    }
}
@media screen and (max-width: 530px) {
    article > h2 {
        padding: 6px 0 150px;
    }
}

article > h2,
article > ol li:before,
article > p a[name] {
    font-family: Quadon-Bold, Georgia, serif;
    font-weight: normal;    
}

article > h2,
article > h2 + ol {
    text-align: center;
    width: 100%;
}

article > ol {
    padding: 0;
    margin: -5em 0 5em;
    list-style-type: none;
}
@media screen and (max-width: 770px) {
    article > ol {
        margin: -4em 0 4em;
    }
}
@media screen and (max-width: 530px) {
    article > ol {
        margin: -3em 0 3em;
    }
}
@media screen and (max-width: 320px) {
    article > ol {
        margin: -2em 0 2em;
    }
}

article > ol li {
    display: inline-block;
    border: 1px solid grey;
    width: 194px;
    height: 230px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    background-repeat: no-repeat;
    counter-increment: step-counter;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 990px) {
    article > ol li {
        width: 140px;
        height: 166px;
    }
}
@media screen and (max-width: 770px) {
    article > ol li {
        width: 95px;
        height: 113px;
    }
}
@media screen and (max-width: 530px) {
    article > ol li {
        width: 60px;
        height: 71px;
        line-height: .8em;
    }
}
@media screen and (max-width: 320px) {
    article > ol li {
        width: 45px;
        height: 53px;
    }
}

article > ol li:before,
article > ol li a {
    position: absolute;
}

article > ol li:before {
    content: counter(step-counter);
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #0f96b7;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    bottom: -28px;
    left: 69px;
    padding-top: 3px;
}
@media screen and (max-width: 990px) {
    article > ol li:before {
        width: 40px;
        height: 40px;
        font-size: 2em;
        padding-top: 1px;
        bottom: -20px;
        left: 50px;
    }
}
@media screen and (max-width: 770px) {
    article > ol li:before {
        width: 27px;
        height: 27px;
        font-size: 1.5em;
        padding-top: 0;
        bottom: -14px;
        left: 34px;
    }
}
@media screen and (max-width: 530px) {
    article > ol li:before {
        width: 14px;
        height: 14px;
        font-size: .8em;
        padding-top: 1px;
        bottom: -7px;
        left: 23px;
    }
}
@media screen and (max-width: 320px) {
    article > ol li:before {
        width: 13px;
        height: 13px;
        font-size: .6em;
        padding-top: 2px;
        bottom: -6px;
        left: 16px;
    }
}

article > ol li + li {
    margin-left: 10px;
}
@media screen and (max-width: 530px) {
    article > ol li + li {
        margin-left: 2px;
    }
}

article > ol li:nth-child(1) {
    background-image: url(../img/creating/get-fbx.svg);
    background-position: center 1.7em;
}
@media screen and (max-width: 770px) {
    article > ol li:nth-child(1) {
        background-position: center .6em;
    }
}
@media screen and (max-width: 530px) {
    article > ol li:nth-child(1) {
        background-position: center .5em;
    }
}
@media screen and (max-width: 320px) {
    article > ol li:nth-child(1) {
        background-position: center .2em;
    }
}

article > ol li:nth-child(2) {
    background-image: url(../img/creating/host-fbx.svg);
    background-size: 92px;
    background-position: center 4.1em;
}
@media screen and (max-width: 990px) {
    article > ol li:nth-child(2) {
        background-position: center 2em;
    }
}
@media screen and (max-width: 770px) {
    article > ol li:nth-child(2) {
        background-position: center 1.4em;
        background-size: 50px;
    }
}
@media screen and (max-width: 530px) {
    article > ol li:nth-child(2) {
        background-position: center .5em;
        background-size: 40px;
    }
}
@media screen and (max-width: 320px) {
    article > ol li:nth-child(2) {
        background-position: center .2em;
        background-size: 30px;
    }
}

article > ol li:nth-child(3) {
    background-image: url(../img/creating/edit.svg);
    background-position: center top;
}
@media screen and (max-width: 770px) {
    article > ol li:nth-child(3) {
        background-size: 100px;
        background-position: center -.3em;
    }
}
@media screen and (max-width: 530px) {
    article > ol li:nth-child(3) {
        background-size: 80px;
        background-position: center -.8em;
    }
}
@media screen and (max-width: 320px) {
    article > ol li:nth-child(3) {
        background-size: 60px;
    }
}

article > ol li:nth-child(4) {
    background-image: url(../img/creating/place.svg);
    background-size: 92px;
    background-position: center 2.5em;
}
@media screen and (max-width: 990px) {
    article > ol li:nth-child(4) {
        background-position: center .2em;
    }
}
@media screen and (max-width: 770px) {
    article > ol li:nth-child(4) {
        background-position: center .1em;
        background-size: 60px;
    }
}
@media screen and (max-width: 530px) {
    article > ol li:nth-child(4) {
        background-position: center .5em;
        background-size: 35px;
    }
}
@media screen and (max-width: 320px) {
    article > ol li:nth-child(4) {
        background-position: center top;
        background-size: 25px;
    }
}

article > ol li a,
article > p {
    font-family: proxima-nova, sans-serif;
}

article > ol li a {
    font-weight: bold;
    font-size: 1.5em;
    width: 160px;
    left: 17px;
    top: 6.8em;
}
@media screen and (max-width: 990px) {
    article > ol li a {
        font-size: 1.05em;
        width: 114px;
        left: 13px;
        top: 6.7em;
    }
}
@media screen and (max-width: 770px) {
    article > ol li a {
        font-size: .8em;
        width: 75px;
        left: 10px;
        top: 6em;
    }
}
@media screen and (max-width: 530px) {
    article > ol li a {
        font-size: .6em;
        width: 44px;
        left: 8px;
        top: 5em;
    }
}
@media screen and (max-width: 320px) {
    article > ol li a {
        font-size: .5em;
        width: 35px;
        left: 5px;
        top: 3.5em;
    }
}

article > ol li a,
article > ol li a:hover {
    color: #666666;
}

article > ol li a:hover {
    text-decoration: underline;
}

article > p {
    max-width: 442px;
    margin: 0 auto 1em;
    font-size: 1.3em;
}
@media screen and (max-width: 530px) {
    article > p {
        font-size: 1em;
        padding: .3em 1em;
    }
}

article > p a,
article > p a:hover {
    color: #0f96b7;
}

article > p a[href],
article > p a[href]:hover {
    font-weight: bold;
}

article > p a[href]:hover {
    text-decoration: underline;
}
