/**
 * HighFidelity's footer styling
 *
 * This file is assumed to be included on every HF page when using the
 * common layout. Each shared rule for the footer should live here. 
 * 
 * Page-specific styling on the footer should be at their own styling file(s).
 *
 */

#site-links {
    margin-bottom: 60px;
    font-size: 16px;
    max-width: 640px;
    margin: 0 auto;    
}

#site-links p,
#site-links li,
#site-links a {
    font-family: proxima-nova, sans-serif;
    color: #878787;
}

#social {
    overflow-x: hidden;
}

#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 110%;
    border-bottom: 1px solid #dadada;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

#social ul li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #dadada;
}

#social li a {
    text-decoration: none;
    padding: 18px 0px;
    display: inline-block;
    width: 103px;
    color: #cccccc;
}

#social li.selected a,
#social li.selected a > i {
    color: #3698bf;
}

#site-links li a:hover,
#site-links li a:hover > i {
    color: #000;
}

#site-links li a:active,
#site-links li a:active i {
    color: #3698bf;
}

#social p {
    margin: -1px 0 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0.75) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.75)), color-stop(5%, rgba(255, 255, 255, 0.9)), color-stop(95%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.75)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0.75) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0.75) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0.75) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfffffff', endColorstr='#bfffffff', GradientType=1);
    border: 1px solid #dadada;
}

#site-links p {
    text-align: center;
    font-size: 16px;
    padding: 13px 0;
}

#site-links p:last-child {
    margin-top: 7px;
}

#site-links a > i {
    color: #262626;
    display: block;
    padding-bottom: 8px;
    margin: 0 auto;
    font-size: 1.6em;
}

#social ul li:last-child {
    border-right: none;
}

#ubernerds {
    text-align: center;
    margin-top: 15px;
}

#ubernerds p,
#ubernerds ul,
#ubernerds li {
    display: inline;
    margin: 0;
    padding: 0;
}

#ubernerds p,
#ubernerds li,
#ubernerds li a {
    color: #666666;
    font-size: 16px;
}

#ubernerds li + li:before {
    content: '• ';
    color: #cccccc;
}

#ubernerds li a,
#ubernerds li a:hover {
    text-decoration: none;
}

#ubernerds li a {
    border-bottom: 1px solid #d9d9d9;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    display: inline-block;
    height: 1.05em;
}

#ubernerds li a:hover {
    border-bottom: 0 none;
}

/**
 * Responsive sizes
 */
@media screen and (max-width: 770px) {
    #site-links {
        font-size: 12px;
        margin-top: 20px;
    }
    
    #social p {
        float: left;
        width: 43%;
        padding: 65px 5% 65px 0;
        line-height: 1em;
        font-size: 1.6em;
        text-align: right;
        word-spacing: 500px;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
    }
    
    #social p,
    #social {
        border: none;
    }
    
    #social {
        padding: 10px 0 10px 5%;
        margin-bottom: 20px;
    }
    
    #social ul {
        border: 0 none;
        width: auto;
        margin-left: 125px;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(5%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
    
    #social ul li {
        display: block;
        text-align: left;
        margin-bottom: 0;
        border: 0 none;
        line-height: 1em;
    }
    
    #social li a {
        padding: 0;
        width: auto;
    }
    
    #site-links a > i {
        display: inline-block;
    }
    
    #ubernerds li a {
        height: 1.25em;
    }

    #ubernerds p,
    #ubernerds li,
    #ubernerds li a,
    #ubernerds + p {
        font-size: 11px;
    }
}
