/**
 * HighFidelity's footer styling
 *
 * This file is assumed to be included on every HF page when using the
 * common layout. Each shared rule for the footer should live here. 
 * 
 * Page-specific styling on the footer should be at their own styling file(s).
 *
 */

#site-links {
    margin-bottom: 60px;
    font-size: 16px;
    max-width: 645px;
    margin: 0 auto;    
    overflow-x: hidden;
    text-align: center;
}

#site-links p,
#site-links li,
#site-links a {
    font-family: proxima-nova, sans-serif;
    color: #878787;
}

#site-links ul {
    list-style-type: none;
    margin: -1px auto 0;
    padding: 0;
    border-top: 1px solid #dadada;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}
@media screen and (max-width: 530px) {
    #site-links ul {
        width: 328px;
    }
    #site-links ul,
    #site-links ul + ul {
        margin: 0 auto;
    }
}

#site-links ul li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #dadada;
}

#site-links li a {
    text-decoration: none;
    padding: 18px 0px;
    display: inline-block;
    width: 103px;
    color: #cccccc;
}
@media screen and (max-width: 770px) {
    #site-links li a {
        padding: 10px 0px;
        width: 82px;
    }
}
@media screen and (max-width: 530px) {
    #site-links li a {
        padding: 10px 0 5px;
        width: 50px;
    }
}
#site-links ul + ul li a {
    font-weight: bold;
    padding: 28px 0;
}
@media screen and (max-width: 770px) {
    #site-links ul + ul li a {
        padding: 18px 0;
    }
}

#site-links li.selected a,
#site-links li.selected a > i {
    color: #3698bf;
}

#site-links li a:hover,
#site-links li a:hover > i {
    color: #000;
}

#site-links li a:active,
#site-links li a:active i {
    color: #3698bf;
}

#site-links p {
    text-align: center;
    font-size: 16px;
    padding: 13px 0;
}

#site-links p:last-child {
    margin-top: 30px;
}

#site-links a > i,
#site-links a > img {
    color: #262626;
    display: block;
    padding-bottom: 8px;
    margin: 0 auto;
    font-size: 1.6em;
    width: 32px;
    height: 28px;
}

#site-links ul li:last-child {
    border-right: none;
}

@media screen and (max-width: 530px) {
    #site-links a > img {
        display: inline;
    }

    #site-links a > span {
        display: none;
    }
}