/**
 * HighFidelity's home page styling
 */


html body {
    color: #666;
}

header#navbar {
    height: 642px;
    background: #222;
    border-bottom: 5px solid #3398cb;
}
@media screen and (max-width: 770px) {
    header#navbar {
        height: 500px;
    }
}

header#navbar nav li {
    border-right: 1px solid #424242;
}

header#navbar nav li a {
    text-decoration: none;
    color: #666666;
    padding: 8px 14px;
    display: inline-block;
    font: bold 1.15em proxima-nova, sans-serif;
    background: transparent none;
}

header#navbar nav li a:hover {
    color: #ccc;
}


/* custom logo */
header#navbar h1 img {
    width: 76px;
    margin-top: 2px;
}

#container > section {
    margin-left: auto;
    margin-right: auto;
}


div#container {
    max-width: 1008px;
}
#container > section:not(#main):not(#investors) {
    max-width: 715px;
}
@media screen and (max-width: 990px) {
    div#container {
        max-width: 715px;
    }
}
@media screen and (max-width: 770px) {
    div#container {
        font-size: .7em;
    }
}

section > article {
    padding-left: 7px;
}
@media screen and (max-width: 990px) {
    section > article {
        padding-left: 0;
    }
}

/* vimeo videos section */
section#main {
    position: absolute;
    width: 100%;
    margin-top: -562px; /* videos are placed over the navbar gray background */
}
@media screen and (max-width: 990px) {
    section#main {
        margin-top: -497px; /* tweaking #main content be closer to the navbar when it's bigger */
    }
}
@media screen and (max-width: 770px) {
    section#main {
        margin-top: -350px; /* tweaking #main content be closer to the navbar when it's bigger */
    }
}

#main iframe,
#main ul {
    height: 489px;
}
#main iframe {
    width: 871px;
}
@media screen and (max-width: 1090px) {
    #main iframe,
    #main ul {
        height: 458px;
    }
    #main iframe {
        width: 815px;
    }
}
@media screen and (max-width: 990px) {
    #main iframe,
    #main ul {
        height: 326px;
    }
    #main iframe {
        width: 580px;
    }
}
@media screen and (max-width: 770px) {
    #main iframe,
    #main ul {
        height: 215px;
    }
    #main iframe {
        width: 380px;
    }
}

#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    float: right;
    width: 110px;
    margin-right: 15px;
}

#main ul li {
    border: 1px solid #666;
    padding: 4px;
    margin-bottom: 5px;
}

#main ul li.last {
    position: relative;
    border-color: #ccc;
}

#main ul li.last:after {
    content: "\f0da";
    display: block;
    left: 0px;
    top: 35%;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    color: #ccc;
    font-size: 2em;
}

#blog {
    overflow-x: display;
}

#blog article {
    padding-right: 0;
    width: 95%;
}
@media screen and (max-width: 990px) {
    #blog article {
        width: 100%;
    }
}

/* Blogs section blocks */
#blog .span6 {
    border-width: 1px 0 0 1px;
    border-style: dashed;
    border-color: #cbcbcb;
    margin-left: 0;
    padding: 1% 2%;
    height: 6.2em;
}

#blog h3 {
    color: #333;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 6px;
}

#blog h4 {
    font-size: 1.3em;
    font-family: Quadon, Georgia, serif;
    font-weight: normal;
}

#blog h4 em,
#blog h4 em a {
    font-style: italic;
    color: #999;
}

#blog h4 > a:hover {
    color: #3398CB;
}

#blog h4 em a:hover {
    text-decoration: underline;
}

#company p.lead {
    padding-right: 45px;
}

article p strong {
    font-size: .95em;
}

#company p.lead strong span {
    font-size: 1.5em;
}

article {
    margin: 25px 15px;
    font-family: proxima-nova,sans-serif;
}

article h2,
article h3,
#company p.lead strong {
    font-family: Quadon-Bold, Georgia, serif;
    font-weight: normal;
}

#company {
    margin-top: 65px;
}

#company h3 {
    font-size: 2.4em;
    padding-right: 150px;
}
@media screen and (max-width: 770px) {
    #company h3 {
        font-size: 2.8em;
        line-height: 1.1em;
        padding-right: 55px;
    }
}

#company p.lead,
article p {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 25px;
}

article h3,
article p a {
    color: #3398CB;
}

article p a {
    font-weight: bold;
}

article p a {
    text-decoration: underline;
}

article p a:hover {
    color: #333333;
    text-decoration: none;
}

#company p.lead + p {
    background: transparent url('../img/home/Emily-and-hifi.png') no-repeat center bottom;
    padding-bottom: 500px;
    padding-right: 30px;
    background-size: contain; 
}
@media screen and (max-width: 770px) {
    #company p.lead + p {
        padding-bottom: 350px;
    }
}


#company p.lead + p + p + p {
    position: relative;
    padding-right: 125px;
}
@media screen and (max-width: 770px) {
    #company p.lead + p + p + p {
        padding-right: 100px;
    }
}

#company p.lead + p + p:after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/home/priovr-hand-v3-duotone.png');
    right: -600px;
    margin-top: 100px;
    width: 800px;
    height: 473px;
}
@media screen and (max-width: 770px) {
    #company p.lead + p + p:after {
        right: -725px;
        margin-top: 30px;
    }
}

#company article:nth-child(2) h3:first-child + p {
    padding-right: 220px
}
@media screen and (max-width: 770px) {
    #company article:nth-child(2) h3:first-child + p {
        padding-right: 50px
    }
}

#company article:first-child p:last-child {
    font-weight: bold;
    padding-right: 160px;
}

#company article:nth-child(2) h3:first-child:after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/home/avatar-eye-contact.svg');
    margin-top: 16px;
    width: 728px;
    height: 109px;
    margin-left: -100px;
}
@media screen and (max-width: 770px) {
    #company article:nth-child(2) h3:first-child:after {
        margin-top: 35px;
    }
}

#company article:nth-child(2) h3:nth-child(3) + p {
    padding-right: 60px;
    padding-bottom: 500px;
    background: transparent url('../img/home/octal-codes.svg') no-repeat center bottom;
    background-size: contain; 
}
@media screen and (max-width: 770px) {
    #company article:nth-child(2) h3:nth-child(3) + p {
        padding-bottom: 310px;
        padding-right: 20px;
    }
}

#company article:nth-child(2) h3:nth-child(5) + p {
    padding-right: 25px;
    padding-bottom: 350px;
    background: transparent url('../img/home/scalability.svg') no-repeat center bottom;
    background-size: contain; 
}
@media screen and (max-width: 770px) {
    #company article:nth-child(2) h3:nth-child(5) + p {
        padding-bottom: 250px;
    }
}

#company article:nth-child(2) h3:nth-child(7) + p {
    padding-right: 40px;
    padding-bottom: 350px;
}
@media screen and (max-width: 770px) {
    #company article:nth-child(2) h3:nth-child(7) + p {
        padding-bottom: 220px;
    }
}

#device-network svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 380px;
    margin-top: -380px;
}
@media screen and (max-width: 770px) {
    #device-network svg {
        position: absolute;
        left: 0;
        width: 100%;
        height: 380px;
        margin-top: -310px;
    }
}
#device-network svg path,
#device-network svg line {
    stroke: #99CCCC;
}
#device-network svg line {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
#device-network svg path {
    fill: #3398CB;
}
#device-network svg path[idle] {
    opacity: 0.25;
}

/* Team section styling */
#team > article > h2 {
    border-bottom: 1px solid #DADADA;
    background: transparent url('../img/home/gg-bridge.svg') 350px center no-repeat;
    padding-top: 70px;
    background-size: 82px 79px;
}

#team > article > h2:after {
    content: "We are located in San Francisco";
    color: #ccc;
    display: block;
    width: 134px;
    font-size: 0.5em;
    position: absolute;
    left: 632px;
    margin-top: -50px;
    line-height: 1.3em;
}

#team h3 + p {
    font-family: proxima-nova, sans-serif;    
}

#team ul {
    list-style-type: none;
    margin: 0;
}

#team li {
    width: 43%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    min-height: 90px;
}
#team li:nth-child(2n+1) {
    margin-right: 10%;
}
@media screen and (max-width: 770px) {
    #team li {
        margin-bottom: 5px;
    }
}

#team figure {
    position: relative;
    margin: 0;
}
@media screen and (max-width: 770px) {
    #team figure {
        margin-bottom: 0;
    }
}

#team img,
#youimg figure > div {
    position: absolute;
    width: 90px;
    height: 90px;   
}

#team h3, 
#team figure > p {
    margin-left: 100px;
    margin-top: 5px;
}

#team h3 {
    color: #3698bf;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 0;
}

#team figure > p {
    font-size: 1.15em;
    line-height: 1.3em;
    color: #666666;
}

#youimg figure > div {
    border: 2px solid #3698bf; 
}

#team a {
    font-style: italic;
}

#team a:hover {
    color: #ed6f3f;
}

#investors {
    background: transparent url('../img/home/flocking-investor-bg.jpg') center center no-repeat;
    background-size: contain;
}

#investors > article,
#advisors > article {
    position: relative;
    max-width: 715px;
    margin: 0 auto;
}

#investors > article li,
#advisors > article li {
    list-style: none;
    color: #333333;
    font-size: .81em;
    position: absolute;
    border: 1px solid #ccc;
    -moz-box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#investors > article li {
    height: 158px;    
    padding: 19px 33px;
    width: 165px;
}
@media screen and (max-width: 770px) {
    #investors > article li {
        top: -60px;
    }
}

#advisors > article li {
    height: 240px;    
    padding: 10px;
    width: 200px;
}

#investors > article li h3,
#advisors > article li h3 {
    line-height: 120%;
}

#investors > article li h3,
#investors > article li:nth-child(5) p {
    font-family: Quadon-Bold, Georgia, serif;
    font-weight: normal;
}

#advisors > article li h3 {
    font-size: 1.5em;
}
@media screen and (max-width: 770px) {
    #advisors > article li h3 {
        font-size: 2.3em;
    }
}

#investors > article li p {
    padding-top: 0.8em;
    font-family: proxima-nova, sans-serif;
    color: #333333;
    font-size: 0.75em;
}

#investors > article li h3 {
    font-size: 3em;
}
@media screen and (max-width: 770px) {
    #investors > article li h3 {
        font-size: 4.5em;
    }
}
#advisors > article li a > figure {
    margin: 0;
}

#investors > article li:nth-child(1) {
    z-index: 200;
    left: -80px;
}

#investors > article li:nth-child(2) {
    z-index: 199;
    left: 130px;
    margin-top: 12px;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

#investors > article li:nth-child(3) {
    z-index: 198;
    left: 354px;
    margin-top: 12px;
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

#investors > article li:nth-child(4) {
    z-index: 196;
    left: 38px;
    margin-top: 181px;
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

#investors > article li:nth-child(5) {
    z-index: 197;
    left: 248px;
    margin-top: 196px;
    padding: 24px 19px 10px 25px;
    width: 190px;
}

#investors > article li:nth-child(5) p {
    font-size: 2em;
    line-height: 1.2em;
}
@media screen and (max-width: 770px) {
    #investors > article li:nth-child(5) p {
        font-size: 2.7em;
    }
}

#advisors > article li:nth-child(1) {
    z-index: 199;
    left: 55px;
}

#advisors > article li:nth-child(2) {
    z-index: 200;
    left: 245px;
    margin-top: 35px;
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

#advisors > article li:nth-child(3) {
    z-index: 199;
    left: 455px;
    margin-top: 20px;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#investors > article > ul {
    height: 455px;
}
@media screen and (max-width: 770px) {
    #investors > article > ul {
        height: 350px;
    }
}

#advisors > article > ul {
    height: 350px;
}
@media screen and (max-width: 770px) {
    #advisors > article > ul {
        margin-top: -30px;
        height: 250px;
    }
}

#investors > article > h2 {
    margin-bottom: 63px;
}
@media screen and (max-width: 770px) {
    #investors > article > h2 {
        margin-bottom: 20px;
    }
}

#investors > article > ul {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    margin-left: 88px;
}

@media screen and (max-width: 770px) {
    #investors > article > ul,
    #advisors > article > ul {
        -moz-transform: scale(.65);
        -ms-transform: scale(.65);
        -o-transform: scale(.65);
        -webkit-transform: scale(.65);
        transform: scale(.65);
    }
    #investors > article > ul {
        margin-left: 0px;
    }
    #advisors > article > ul {
        margin-left: -100px;
    }
 }