/**
 * HighFidelity's jobs page styling
 */

/* bg is a particle system, we don't need to inherit from common.cs */
html > body {
    background: #ffffff none;
}

#particle-system {
    position: fixed;
    border: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

div#main > article {
    padding: 46px 62px;
}

div#main > h2 {
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-weight: normal;
    margin-top: 45px;
    color: #333;
}

div#main > h2,
div#main > h3 {
    text-align: center;    
}

div#main > article h3 {
    font-size: 22px;
    line-height: 1.2em;
}

div#main > article p em,
div#main > article p.lead {
    color: #3398cb;
}

div#main > h2,
div#main > article h3,
div#main > article p.lead {
    font-family: Quadon-Bold, Georgia, 'Times New Roman';
}

div#main > article p.lead {
    font-size: 35px;
    font-weight: normal;
    line-height: 1.20em;
    margin-bottom: 22px;
}

#main > article:not(h2 + article) p.lead {
    padding-top: 1em;
}

div#main > article li {
    margin-bottom: 8px;
    line-height: 1.2em;
}

#voxel-sketch {
    margin: 30px 0 20px;
}

#requirements{
    margin-top: -11px;
}

#requirements > ul {
    margin-left: 0px;
    color: #3398cb;
}

#requirements > ul > li {
    font-size: 0.75em !important;
}

#requirements > ul > li > span {
    font-family: proxima-nova, sans-serif !important;
}

div#main > article p em {
    color: #262626;
}

#main a {
    color: #3398cb;
    text-decoration: underline;
    font-weight: bold;
}

#main a:hover {
    text-decoration: none;
}

#main a:active {
    color: #000000;
}

#main br + a[href^=mailto] {
    display: inline-block;
    margin-top: 30px;
}

div#main #jobs {
    margin-top: 40px;
    width: 450px;
}

div#main > article.no-border-bottom {
    border-bottom: none;
    padding-bottom: 5px;
}

div#main > article.line-border-top {
    border-top-width: 1px;
}

div#main > article.no-border-top {
    border-top: none;
    padding-top: 0;
}

div#main > article.radius-border-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#main > article.radius-border-bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#main > article.get-our-attention {
    background-color: #f2f2f2;
    background: #f2f2f2;
    padding: 50px 75px 9px 75px;
    border-top: none;
}

div#main > article.get-our-attention p:first-child {
    margin-bottom: 30px;
}

div#main > article.get-our-attention span.strong {
    font-weight: 800;
}

#jobs > span:first-child{
    font-size: 22px;
    color: #3398cb;
}

#apply > h3 {
    margin-top: 0;
}

/**
 * Responsive sizes
 */
@media screen and (max-width: 770px) {
    /**
     * hide particles at this screen size
     */
    #particle-system {
        display: none;
    }
    
    div#main > article li {
        margin-bottom: 5px;
    }

    div#main > article {
        padding: 35px 55px;
    }
    
    div#main > h2 {
        font-size: 1.2em;
    }

    div#main > article p.lead {
        font-size: 40px;
        line-height: 1.10em;
    }

    #voxel-sketch {
        float: right;
        margin: 5px;
        width: 60%;
    }
    
    div#main #jobs {
        width: 100%;
        margin-top: .5em;
    }
    
    #main #jobs ul > li:last-child {
        margin-bottom: 10px;
    }

    #requirements > ul > li {
        font-size: 1em !important;
    }

    div#main > article.get-our-attention {
        padding: 15px 25px 9px 25px;
    }
}

@media screen and (max-width: 530px) {
    div#main > article {
        padding: 15px 25px;
    }
    
    div#main > h2 {
        font-size: 1em;
        margin-top: 5px;
    }
    
    div#main > article li {
        margin-bottom: 3px;
    }
   
    div#main > article p.lead {
        font-size: 32px;
        line-height: 1.10em;
    }
    
    #voxel-sketch {
        float: right;
        margin: 5px;
        width: 60%;
    }
    
    div#main #jobs {
        width: 100%;
    }
}
