#recentnames > canvas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: block;
    width: 650px;
    margin-bottom: 10%;
}

#main img,
#main h1,
#main p {
    width: 80%;
    margin: 0% 10%;
    padding: 0%;
}

#main h1,
#main p {
    text-align: center;
}

#main h1 {
    color: #6094c5;
    font-family: Quadon-Bold;
    font-weight: bold;
    font-size: 34px;
}

#main p,
#main a {
    font-family: proxima-nova, sans-serif;
}

#main p {
    margin-top: 3%;
    margin-bottom: 3%;
    color: #555555;
    font-size: 18px;
}

#main a {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin: 0.5% 0%;
    padding: 0.5% 3%;
    color: #669ab9;
    border: 2px solid #669ab9;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#main a:hover {
    color: #336786;
    background-color: #ace0ff;
}
