/**
 * HighFidelity's navbar styling
 *
 * This file is assumed to be included on every HF page when using the
 * common layout. Each shared rule for the navbar should live here. 
 * 
 * Page-specific styling on the navbar should be at their own styling file(s).
 *
 */

#navbar {
    height: 60px;
    background: #333;
}

#navbar nav li a {
    text-decoration: none;
    color: #b2b2b2;
    display: inline-block;
    font: bold 15px proxima-nova, sans-serif;
    background: transparent none;
    padding: 0px 14px 0px 14px;
    padding-top: 2px;
    overflow: hidden;
    height: 31px;
}

#navbar nav li i {
    font-style: normal;
    display: inline-block;
    border-right: 1px solid #666;
    height: 10px;
    position: relative;
    top: 6px;
    vertical-align: top;
}

#logo a {
    background: url("../img/hifi-logo-text-lightgrey.svg") !important;
    display: inline-block !important;
    width: 134px;
    height: 31px;
    background-repeat: no-repeat !important;
    background-size: 150px 116px !important;
    background-position: 0px -27px !important;
    position: relative;
    top: -5px;
}

#logo a:hover {
    background-image: url("../img/hifi-logo-text-drakgrey.svg") !important;
}

#logo.selected a,
#logo.selected a:hover {
    background-image: url("../img/hifi-logo-text-blue.svg") !important;
}

#navbar nav li a:hover {
    color: #666;
}

#navbar {
    font-size: 14px;
    text-align: center;
}

#navbar nav {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

#navbar nav ul {
    display: inline-block;
    margin-top: 20px;
    margin-left: 0px;
}

#navbar nav li {
    float: left ;
    list-style-type: none;
}

#navbar nav li.selected a,
#navbar nav li a:active {
    color: #3698bf;
}

@media screen and (max-width: 643px)  {
    #navbar nav li a {
        padding: 0px 10px 0px 10px !important;
    }

    #logo a {
        width: 20px;
    }
}

@media screen and (max-width: 572px) {
    #navbar nav li a {
        padding: 0px 8px 0px 8px !important;
    }
}

