/**
 * HighFidelity's navbar styling
 *
 * This file is assumed to be included on every HF page when using the
 * common layout. Each shared rule for the navbar should live here.
 *
 * Page-specific styling on the navbar should be at their own styling file(s).
 *
 */

* {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#navbar {
    background: #333;
    margin: 0px;
}

#navbar nav li a {
    text-decoration: none;
    color: #b2b2b2;
    display: inline-block;
    font: bold 15px proxima-nova, sans-serif;
    background: transparent none;
    padding: 0px 14px 0px 14px;
    padding-top: 2px;
    overflow: hidden;
    height: 31px;
}

#navbar nav li i {
    font-style: normal;
    display: inline-block;
    border-right: 1px solid #666;
    height: 10px;
    position: relative;
    top: 6px;
    vertical-align: top;
}

#navbar nav {
    background: none rgb(51, 51, 51);
}

#navbar a.logo {
    background: url("../img/hifi-logo-text-lightgrey.svg") !important;
    display: inline-block !important;
    width: 135px;
    height: 31px;
    background-repeat: no-repeat !important;
    background-size: 150px 116px !important;
    background-position: 0px -27px !important;
    position: relative;
    top: -5px;
}

.hifi-web-nav {
    margin-bottom: 0;
    background-color: #333333;
    border-bottom: 0;
}

.hifi-web-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}

#navbar .navbar-header {
    display: none;
    min-height: 60px;
}

#navbar .container {
    width: 100%;
    padding: 0px;
}

#navbar a.logo:hover {
    background-image: url("../img/hifi-logo-text-drakgrey.svg") !important;
}

#navbar .logo.selected,
#navbar .logo.selected:hover {
    background-image: url("../img/hifi-logo-text-blue.svg") !important;
}

#navbar {
    font-size: 14px;
    text-align: center;
    min-height: 60px;
}

#navbar nav {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

#navbar nav ul {
    margin-top: 0px;
    float: none;
    padding: 0px;
}

#navbar nav li {
    float: left ;
    list-style-type: none;
}

#navbar nav li.selected a,
#navbar nav li a:active {
    color: #3698bf;
}

#navbar nav li a:hover {
    color: #666;
}

@media screen and (min-width: 768px) {
    #navbar nav ul {
        display: inline-block;
        height: 27px;
        position: relative;
        top: 20px;
    }
}

@media screen and (max-width: 767px) {
    
    #navbar li#logo,
    #navbar nav li i,
    #navbar nav.collapse {
        display: none;
    }

    #navbar a.logo {
        width: 160px;
    }

    #navbar .navbar-toggle {
        margin-top: 14px;
        margin-right: 20px;
    }

    #navbar nav li a {
        height: 21px;
        overflow: visible;
        line-height: 28px;
    }

    #navbar .navbar-header a.logo {
        display: block;
        left: 30px;
        top: 15px;
        position: absolute;
    }

    #navbar .navbar-header {
        margin-left: auto;
        margin-right: auto;
    }

    #navbar .navbar-header,
    #navbar nav.collapse.in,
    #navbar nav.collapsing {
        display: block;
    }

    #navbar .container-fluid {
       padding: 0px;
    }

    #navbar nav li {
        float: none;
        text-align: left;
    }

    #navbar nav ul {
        margin-top: 10px;
        float: left;
        padding: 0px;
        width: 30%;
        margin-left: 0px;
    }
}
